*{
	margin: 0;
	padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
	font-family: Roboto;
}

/*/ Order page /*/

.grid-container {
  display: flex;
}

.cooking {
  flex: 1;
  border: 1px solid #ccc;
}

.cooked {
  flex: 1;
  border: 1px solid #ccc;
}

.row {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 29%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  margin-right: 20px;
  word-wrap: break-word;
}

.card-content {
	padding: 2px 16px;
  height: 100%;
}

.button-container {
  margin-left: 20px;
}

.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 55px 8px;
  cursor: pointer;
}

.button-2 {
  background-color: #d65858;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 55px 8px;
  cursor: pointer;
	background-color: rgb(255, 255, 255);
	margin: 2rem;
	font-family: Roboto;
}
#edit_main  {
	display: flex;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 8px 11px 8px rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	padding-left: 1rem;
}

#edit_main img {
	width: 40vw;
}

#text_div {
	text-align: center;
	font-size: 3rem;
	width: 50vw;
	margin: auto;
	padding-top: 0rem;
}

#text_div h1 {
	margin-top: 0rem;
}

#gluten-familj {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#gluten-familj button {
	padding: 4vw 6vw 4vw 6vw;
	min-width: 22vw;
	background-color: white;
	color: #000000;
	border: 2px solid #000000;
	font-size: 1.25rem;
	border-radius: 12px;
	transition: 0.2s;
}

#gluten-familj button:hover {
	box-shadow: 0 0px 11px 3px rgba(0, 0, 0, 0.2);
}

#edit_section {
	display: flex;
	padding: 5rem;
	margin-top: 3rem;
	box-shadow: 0 8px 11px 8px rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	padding-left: 1rem;
}