<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="/priv/static/pluggy.css" rel="stylesheet">
    <title>Anpassa</title>
</head>
<body id="config_body">
    <nav class = "nav_bar">
        <a class = "nav_button" href="/orders">
            Beställningar
        </a>

        <%= if admin do %>
            <p class="nav_button" style="
            background-color: rgb(92, 196, 92);
            border-style: solid;"
            border-width: 2px;"
            >Admin</p>
        <% end %>

        <a href="/">
            <img src="/img/tonys-pizza-basket.svg" alt="Basket">
        </a>

        <a class = "nav_button" href="/users/login">
            Logga in
        </a>
    </nav>

    <div id="edit_main">
        <img src="/img/<%= pizza.name |> String.downcase() |> String.replace(" ", "-") %>.svg" alt="Pizza">
        <div id="text_div">
            <h1><%= pizza.name %></h1>
        </div>
    </div>

    <section id="edit_section">
        <form action="/orders" method="POST">
            <div id="gluten-familj">
                <input type="checkbox", name="glutenfri", value="true">
                <label for="">Glutenfri</label>
                <input type="checkbox", name="familjepizza", value="true">
                <label for="">Familjepizza</label>
            </div>

            <div class="inputs">
                <input type="hidden" name="pizza_id" value=<%= pizza.id %>>
                <label for="">Ingredienser</label>
                <%= for i <- pizza.ingredients do %>
                    <label class="custom-circle">
                        <input type="checkbox" name="ingredient[]" value="<%=i%>" checked>
                        <span class="dot"></span>
                        <%=i%>
                    </label>
                <% end %>
            </div>

            <div class="inputs">
                <label for="">Extra</label>
                <%= for i <- remaining_ingredients do %>
                    <label class="custom-circle">
                        <input type="checkbox" name="ingredient[]" value="<%=i%>">
                        <span class="dot"></span>
                        <%=i%>
                    </label>
                <% end %>
            </div>

            <button type="submit">Lägg i varukorgen</button>
        </form>
    </section>
</body>
</html>
